<!DOCTYPE html>
<html>
<head>
  <title>Pirate Stats</title>
</head>
<body>

  <h2>Pirate Stats</h2>
    <p>Name: <%= @pirate.name %></p>
    <p>Height: <%= @pirate.height %></p>
    <p>Weight: <%= @pirate.weight %></p>

  <h2>Ship Stats</h2>
    <% @ships.each do |ship| %>
    <p>Name: <%= ship.name %></p>
    <p>Type: <%= ship.type %></p>
    <p>Booty: <%= ship.booty %></p>
  </div><br>
<% end %>

</body>
</html>

